<h1>Listing chapters</h1>

<table>
  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= link_to t('show'), chapter %></td>
        <td><%= link_to t('edit'), edit_book_chapter_path(chapter) %></td>
        <td><%= link_to t('destroy'), chapter, method: :delete, data: { confirm: t('are_you_sure?') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_chapter'), new_book_chapter_path %>
