<h1>Listing chapters</h1>

<table>
  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= link_to 'Show', chapter %></td>
        <td><%= link_to 'Edit', edit_book_chapter_path(chapter) %></td>
        <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chapter', new_book_chapter_path %>
