/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    background-image: url(background.jpg);
}

#main_panel{
    height: 3.2em;
    background: rgba(0,0,0,0.6);
}

#logo{
    margin: 10px auto;
}

#right_panel{
    /*width: 200px;*/
}


#bookshelf{
    padding: 0;
    border-left: 0.6em groove #785520;
    border-right: 0.6em groove #785520;
    /*box-shadow: inset 5px -10px 10px 6px black;*/
    background-image:url(tree4.jpg) ;
}
#bookshelf>div{
    margin: 0;
    padding: 10px;
    border-bottom: 0.4em groove #986520;
    box-shadow: inset -10px -5px 10px 1px black;
}

/*#shelf{*/
    /*margin: 0;*/
    /*padding: 10px;*/
    /*border-bottom: 0.4em groove #986520;*/
    /*box-shadow: inset -2px -2px 10px 2px black;*/
/*}*/

.book{
    text-indent: 1.2em;
    color: #e8e8aa;
}

.book h1{
    margin: 5px 0;
}

.textfield {
    padding: 0 20px;
    color: #ed9c28;
}

#footer{
    height: 1.6em;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
}
