// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#tag_cloud {
  .s { font-size: 0.5em; }
  .m { font-size: 0.8em; }
  .l { font-size: 1.2em; }
}