a:hover{
  background-color: none;
}
img:hover{
  background-color: none;
}
body {
    background-image: url(background-white.jpg);
    background-attachment:fixed;
}
#bookshelf{
  a{
    color: #ccc;
  }
  h1{
    //background-color: #910303;
    background: rgba(18, 60, 94, 1);
  }
    background-image:url(tree4.jpg) ;
}
.black {
  background: rgba(0,0,0,0.3);
}
.select_book:hover{
  background: rgba(205, 205, 205, 0.1);
  transition: all 0.5s ease-in-out;
}
